@model BookShop.Models.ViewModels.CustomerCreateVM

@{
    ViewBag.Title = "Details";
}
<h2 class="title text-center">@ViewBag.Title</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dd>@{ Html.RenderAction("MyPets", "Pets", new { id = Model.CustomerId }); }</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index", new { Controller = "Customers" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { Controller = "Customers", id = Model.CustomerId }, new { @class = "btn btn-default" })
  
</p>

